@import "../../styles/_variables.scss";

.layout-article{
  background-color:$color_principal;
  color: $color_secundary;
  height: 50px;
  font-size: 1em;
  font-weight: 400;
  display: grid;
  justify-content: center;
  align-items: center;
}

.layout-article-title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-size: 2em;
}

.layout-article_groupcard{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 275px));
  grid-gap: 32px;
  justify-content: center;
  margin: 0 24px;
}

.layout-article_search{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.layout-article_search-icon {
  width: 80vw;
  // border: #16719c solid 1px;
  border-radius: 24px;
  font-size: 16px;
  padding: 5px 48px;
  box-shadow:  0 1px 6px 0 rgba(32,33,36,0.28);
  border: 0;
  &:hover{
  }
  &:focus{
    outline: black;
  }
}

.search_icon{
  background-image: url(../../../assets/img/png/search.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 16px;
}

.layout-article_card{
  border-radius: 8px 8px 8px 8px;
  box-shadow: 2px 5px 5px 5px rgba(0,0,0,0.32);
}

img{
  width: 100%;
  border-radius: 8px 8px 0 0;
}
p{
  margin: 0.5em;
  font-size: small;
}
