@import "../../styles/_variables.scss";

.input_form{
  margin: 10px 0;
}

form{
  display: grid;
  justify-content: center;
  align-items: center;
}

.layout-article-button{
  background: linear-gradient(to right, rgba(0, 141, 162, 1) 0%, rgba(44, 86, 151, 1) 100%);
  color: $color_secundary;
  font-size: 14px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  border:0;
}